---
interface FeatureItem {
    label: string
    icon: string
}

interface Props {
    coreLabel: string
    title: string
    description: string
    items: FeatureItem[]
}

const { coreLabel, title, description, items } = Astro.props
---

<div class="max-w-7xl mx-auto px-8">
    <div class="bg-zinc-100 p-12 border-4 border-[#2F343C] shadow-[20px_20px_0px_0px_rgba(47,52,60,1)]">
        <div class="flex flex-col md:flex-row md:items-end justify-between mb-16 gap-8">
            <div>
        <span class="inline-block px-3 py-1 bg-zinc-800 text-white text-[10px] font-black uppercase tracking-widest mb-4">
          {coreLabel}
        </span>

                <h2 class="text-4xl md:text-5xl font-black uppercase leading-tight">{title}</h2>
            </div>

            <div class="max-w-xs text-right">
                <p class="font-bold text-sm uppercase text-zinc-500">{description}</p>
            </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-7 gap-4">
            {items.map((item) => (
                    <div class="text-center">
                        <div class="w-full aspect-square flex items-center justify-center border-2 border-[#2F343C] bg-white mb-4">
                            <span class="material-symbols-outlined text-3xl!">{item.icon}</span>
                        </div>

                        <span class="text-[10px] font-black uppercase">{item.label}</span>
                    </div>
            ))}
        </div>
    </div>
</div>