---
interface BoxItem {
    title: string
    description: string
    icon: string
    iconClass?: string
    cardClass?: string
}

interface ValueItem {
    label: string
    icon: string
}

interface Props {
    items: BoxItem[]
    valuesTitle: string
    values: ValueItem[]
}

const { items, valuesTitle, values } = Astro.props
---

<section class="px-8 py-24">
    <div class="max-w-7xl mx-auto">
        <div class="grid md:grid-cols-2 gap-12 mb-20">
            {items.map((item) => (
                    <div class={`bg-white border-[3px] h-full border-on-surface p-10 hard-shadow`}>
          <span class={`material-symbols-outlined text-5xl! mb-6 ${item.iconClass ?? ''}`}>
            {item.icon}
          </span>

                        <h3 class="text-3xl font-black mb-4">{item.title}</h3>
                        <p class="text-lg">{item.description}</p>
                    </div>
            ))}
        </div>

        <div class="border-t-4 border-on-surface pt-16">
            <h3 class="text-2xl font-black mb-12 uppercase tracking-widest">{valuesTitle}</h3>

            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
                {values.map((value) => (
                        <div class="flex flex-col items-center text-center p-4 border-2 border-outline-variant hover:border-on-surface transition-colors">
                            <span class="material-symbols-outlined text-3xl mb-3">{value.icon}</span>
                            <span class="font-bold">{value.label}</span>
                        </div>
                ))}
            </div>
        </div>
    </div>
</section>